#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
TryExec=synaptic-pkexec
Exec=synaptic-pkexec
Icon=synaptic
Terminal=false
Type=Application
Name=Synaptic Package Manager
Categories=X-tamer
