#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=x-terminal-emulator --command "hierarchyview"
Name=Android Hierarchyview
Icon=/usr/share/icons/androidtamer/tamericon80.png
Categories=X-tamer-dev
