#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
TryExec=/usr/bin/nmap
Exec=x-terminal-emulator --command "nmap --help; $SHELL"
Name=Nmap
Icon=/usr/share/icons/androidtamer/menu-256x256-nmap.png
Categories=X-tamer-pentest
