#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
TryExec=/usr/bin/wireshark
Exec=/usr/bin/wireshark
Name=Wireshark
Icon=terminator
Categories=X-tamer-pentest
