#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
TryExec=/usr/bin/w3af_gui
Exec=w3af_gui
Name=W3AF GUI
Icon=terminator
Categories=X-tamer-pentest
