#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
TryExec=traceview
Exec=x-terminal-emulator --command "traceview; $SHELL"
Name=Traceview
Icon=/usr/share/icons/androidtamer/tamericon80.png
Categories=X-tamer-dev
