#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
TryExec=android
Exec=android sdk
Name=Android SDK Manager
Icon=/usr/share/icons/androidtamer/logo.png
Categories=X-tamer
