#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
TryExec=iceweasel
Exec=iceweasel
Name=Firefox (aka IceWeasel)
Icon=iceweasel
Categories=X-tamer-pentest
