#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
TryExec=/usr/bin/nikto
Exec=x-terminal-emulator --command "nikto --help; $SHELL"
Name=Nikto Scanner
Icon=/usr/share/icons/androidtamer/menu-256x256-nikto.png
Categories=X-tamer-pentest
