#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=x-terminal-emulator --command '/opt/Arsenal/android-sdk-linux/tools/hierarchyviewer'
Name=Android Hierarchyview
Icon=/usr/share/icons/androidtamer/tamericon80.png
Categories=X-tamer-dev
